body{
    background-image: url(./images/light.jpg);
    height: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    margin: 5 auto !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


}

.logo{

    width: 175px;
    height: 175px;
    position: relative;
    display: block;
    border-radius: 50%;
    margin-bottom: 0;
    margin-top: 0.4em;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    cursor:default;
    animation: animasyonlogo 3s infinite;

  }
  @keyframes animasyonlogo {
100% {
  transform: rotate(360deg);

}

  }

  .logo:after{
    padding-bottom:100%;
    display:inline-block;

  }

  .logo:hover{
    box-shadow: 0px 0px 32px  rgb(192, 163, 163);

  }

  
.grup{
    color: black;
    font-family:sans-serif;



}


.login{
    background-color: rgba(153, 179, 180, 0.459);
    color: rgb(255, 255, 255);
    width: 1.4285714285714286em;    ;
    display: block;
    padding: 0.8em;
    border-radius: 3px;
    outline: 2px;
    border: 2px;
    transition: 0.2s;
    font-weight: 700px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0.5em;
    text-decoration: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 110px;
    box-shadow: 10px 10px 10px  rgb(0, 0, 0);
    background-color:  10% transparent ;
    max-width: 255px;
    min-width: 245px;


}

.login:hover,
.link-social-login:focus,
.link-social-login:active {
  text-decoration: none;
  box-shadow: 0 0 10px rgba(35, 201, 179, 0.575),0 0 40px rgba(35, 201, 179, 0.575),0 0 80px rgba(35, 201, 179, 0.575);
  color:3px solid rgba(255, 255, 255, 0.329);
  border-color:white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color:  10% transparent ;
}


.login img {
    position: absolute;
    top: 50%;
    left: 18px;
    width: 35px;
    min-width: 35px;
    max-width: 40px;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  

  }
  



